/* NavBar */
.navbar {
    background-color: #f2f4e8
  }
/* Login Form  */
.login-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #000; /* Adjust the color as needed */
    border-radius: 5px;
    background-color: #f2f4e8;
  }
  
  